<Context>

  <Resources className="org.apache.catalina.webresources.StandardRoot">
    <PreResources className="org.apache.catalina.webresources.DirResourceSet"
              base="{{ apps_api_conf_directory }}"
              internalPath="/"
              webAppMount="/WEB-INF/classes" />
  </Resources>
  <Resource name="im_ws"
    auth="Container"
    type="javax.sql.DataSource"
    maxActive="8"
   	maxIdle="50"
   	maxWait="10000"
    username="${jdbc.username}"
    password="${jdbc.password}"
    driverClassName="${jdbc.driverClassName}"
    validationQuery="SELECT 1"
    removeAbandoned="true"
    removeAbandonedTimeout="60"
    testOnBorrow="true"
    url="${jdbc.url}" />
</Context>